body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator{
    width: 300px;
    background-color: red;
    overflow: hidden;
    border-radius: 20px;
}
.display{
    font-size: 2rem;
    text-align: right;
    padding: 20px 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: white;
    background-color: #222;
}
.buttons{
    grid-template-columns: repeat(4, 2fr);
    display: grid;
    gap: 1px;
    background-color: #333;
}
button{
    font-size: 2rem;
    padding: 20px;
    cursor: pointer;
    background-color: #444;
    border: none;
    color: white;
    
}
button:hover{
    background-color: #555;
}

/* Component specific classes  */
.gold{
    background-color: orange;
}
.gold:hover{
    background-color: rgb(250, 179, 0);
}
.grey{
    background-color: grey;
}

.gray{
    background-color: rgb(81, 80, 80);
}
.large{
    grid-row:span 2;
}
.zero{
    grid-column: span 2;
}